<div class="container my-5 py-5 ">


  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <h1 class="font-weight-bold pt-5 pb-2 text-center">Your Bookings</h1>



    <div class="row mx-3">
      <div class="col-md-4 px-4 mb-4">

        <div class="view">
          <img src="https://mdbootstrap.com/img/illustrations/drawkit-drawing-man-colour.svg" class="img-fluid" alt="smaple image">
        </div>

      </div>
     <div class="col-md-4 px-4 mb-4">

        <div class="view">
          <img src="https://mdbootstrap.com/img/illustrations/drawkit-phone-conversation-colour.svg" class="img-fluid" alt="smaple image">
        </div>

      </div>
      <div class="col-md-4 px-4 mb-4">

        <div class="view">
          <img src="https://mdbootstrap.com/img/illustrations/app-user-colour.svg" class="img-fluid" alt="smaple image">
        </div>

      </div>
    </div>
    <section class="px-md-5  text-center text-lg-left dark-grey-text alert alert-primary p-5 m-5" >
      <h4 style="text-align: center;font-size:2vw;">{{sample}}</h4>
      </section>
  </section>
  <!--Section: Content-->

</div>





