<div class="container my-5 ">
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-lg-8 text-center">
        <!--Image-->
        <div class="view overlay ">
          <img src="assets/pic1.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
      <h5>Book Your Tickets here & Enjoy Movies</h5>
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Content-->

</div>

<div class="container py-5 my-5">
  <section class="p-md-3 mx-md-5 text-center text-lg-left">
    <h2 class="text-center font-weight-bold mb-4 pb-1">Movies</h2>
    <p class="text-center lead mb-5 pb-2 text-muted">Current streaming movie here</p>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="avatar w-100 white d-flex justify-content-center align-items-center">
            <img src="assets/pic2.jpg" class="img-fluid" />
          </div>
          <br>
          <div class="card-body">
            <p class="font-weight-bold my-2">Shawshank Redemption</p>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
              <i class="fa fa-video"></i> Show Times
            </button>

            <!-- Modal -->
            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Shawshank Redemption</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text-muted">10:00</p>
                    <p class="text-muted">11:00</p>
                    <p class="text-muted">13:00</p>
                    <p class="text-muted">17:00</p>
                    <p class="text-muted">20:00</p>
                  </div>
                </div>
              </div>
            </div>

            <br>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="avatar w-100 white d-flex justify-content-center align-items-center">
            <img src="assets/pic3.jpg" class="img-fluid" />
          </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">Batman vs Superman</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal1">
              <i class="fa fa-video"></i> Show Times
            </button>

            <!-- Modal -->
            <div class="modal fade" id="basicExampleModal1" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Batman vs Superman</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text-muted">10:00</p>
                    <p class="text-muted">11:00</p>
                    <p class="text-muted">13:00</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="avatar w-100 white d-flex justify-content-center align-items-center">
            <img src="assets/pic4.jpg" class="img-fluid" />
          </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">Avengers Endgame</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal2">
              <i class="fa fa-video"></i> Show Times
            </button>

            <!-- Modal -->
            <div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Avengers Endgame</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text-muted">10:00</p>
                    <p class="text-muted">11:00</p>
                    <p class="text-muted">13:00</p>
                    <p class="text-muted">15:00</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="avatar w-100 white d-flex justify-content-center align-items-center">
            <img src="assets/pic5.jpg" class="img-fluid" />
          </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">Harry Potter</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal3">
              <i class="fa fa-video"></i> Show Times
            </button>

            <!-- Modal -->
            <div class="modal fade" id="basicExampleModal3" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Harry Potter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text-muted">7:00</p>
                    <p class="text-muted">12:00</p>
                    <p class="text-muted">14:00</p>
                    <p class="text-muted">18:00</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="avatar w-100 white d-flex justify-content-center align-items-center">
            <img src="assets/pic6.jpg" class="img-fluid" />
          </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">AquaMan</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal4">
              <i class="fa fa-video"></i> Show Times
            </button>

            <!-- Modal -->
            <div class="modal fade" id="basicExampleModal4" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">AquaMan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text-muted">12:00</p>
                    <p class="text-muted">14:00</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
